@define-color ukui_bg_color #f5f5f5;
@define-color ukui_fg_color #000000;
@define-color ukui_tooltip_bg_color #fafafa;
@define-color ukui_tooltip_fg_color #000000;
@define-color ukui_text_color #000000;
@define-color ukui_vp_color #ffffff;
@define-color ukui_vp_border_color #bbbbbb;

@define-color ukuimenu_color #3b9dc5;
@define-color ukuiside_color #155670;


#Window {
background-color: @ukuimenu_color;
border-color: @ukuiside_color;
font-size: 13px;
}
#EventBox {
background-color: @ukui_bg_color;
font-size: 13px;
}
#ViewportNull {
background-color: transparent;
border-width: 1px;
border-color: transparent;
font-size: 13px;
}
#ViewportButton {
background-color: @ukui_vp_color;
border-width: 1px;
border-style: solid;
border-radius: 0px;
border-left-color: @ukui_vp_border_color;
border-right-color: @ukui_vp_color;
border-top-color: @ukui_vp_border_color;
border-bottom-color: @ukui_vp_border_color;
font-size: 13px;
}
#Viewport {
padding: 0px 0px;
background-color: @ukui_vp_color;
border-width: 1px;
border-style: solid;
border-radius: 0px;
border-color: @ukui_vp_border_color;
font-size: 13px;
}
#Viewport1 {
padding: 0px 0px;
background-color: @ukui_vp_color;
border-width: 0px;
border-style: solid;
border-radius: 0px;
border-color: @ukui_vp_border_color;
font-size: 13px;
}
#ViewportEntry {
padding: 0px 0px;
border-radius: 0px;
background-color: @ukui_vp_color;
border-width: 1px;
border-color: shade (@ukuimenu_color, 0.90);
color: @ukui_fg_color;
font-size: 13px;
}
#ViewportPower {
background-color: @ukui_vp_color;
border-width: 1px;
border-style: solid;
border-radius: 0px;
border-color: shade (@ukuimenu_color, 0.90);
font-size: 13px;
}
#ViewportPowerEnter {
background-color: shade (@ukuimenu_color, 0.90);
border-width: 1px;
border-style: solid;
border-radius: 0px;
border-color: shade (@ukuimenu_color, 1.05);
font-size: 13px;
}
#Viewport1 {
background-color: @ukui_vp_color;
border-style: solid;
border-radius: 0px;
border-width: 0px;
font-size: 13px;
}
#Button {
border: 1px solid transparent;
border-radius: 0px;
background-color: transparent;
font-size: 13px;
}
#Button:hover {
border-radius: 0px;
border-width: 1px;
background-image: none;
background-color: #f8f8f9;
border-color: #b3b3b3;
}
#Button:active {
border-radius: 0px;
border-width: 1px;
border-image-source: none;
border-color: @ukui_vp_border_color;
}
#ButtonPower {
min-width: 18px;
padding: 0px 0px;
background-color: transparent;
border-width: 0px;
border-color: transparent;
font-size: 13px;
}
#ButtonPower:hover {
background-color: #daebfc;
background-image: none;
border: 0px transparent;
}
#ButtonPower:active {
background-color: #daebfc;
background-image: none;
border: 0px transparent;
}
#ButtonApp {
padding: 2px 2px;
border-radius: 0px;
border-width: 1px;
background-color: transparent;
font-size: 13px;
}
#ButtonApp:hover {
border-radius: 0px;
background-image: none;
background-color: shade (@ukuimenu_color, 1.89);
border-color: @ukui_vp_border_color;
border-width: 1px;
border-image-source: none;
}
#ButtonApp:hover:focus {
border-radius: 0px;
border-width: 1px;
background-image: none;
background-color: #daebfc;
}
#ButtonAppHover {
padding: 2px 2px;
border-radius: 0px;
border-style: solid;
border-width: 1px;
border-color: shade (@ukuimenu_color, 1.35);
background-image: none;
background-color: shade (@ukuimenu_color, 1.89);
font-size: 13px;
}
#ButtonApp:active {
border-radius: 0px;
border-width: 1px;
background-image: none;
background-color: shade (@ukuimenu_color, 1.73);
border-color: shade (@ukuimenu_color, 1.35);
}
#ButtonApp:disabled {
color: @ukui_fg_color;
text-shadow: none;
border-width: 1px;
background-color: shade (@ukuimenu_color, 1.73);
border-color: shade (@ukuimenu_color, 1.35);
}
#ButtonApp:active:hover {
border-radius: 0px;
border-width: 1px;
background-image: none;
border-image-source: none;
background-color: shade (@ukuimenu_color, 1.73);
}
#Entry {
border-radius: 0px;
padding: 0px 0px;
background-color: @ukui_vp_color;
border: 0px transparent;
color: #999999; 
font-size: 13px;
}
#EntryActive {
border-radius: 0px;
padding: 0px 0px;
background-color: @ukui_vp_color;
border: 0px transparent;
color: @ukui_fg_color;
font-size: 13px;
}
tooltip,
tooltip.background,
.tooltip,
.tooltip.background {
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: @ukui_vp_border_color;
    border-radius: 0px;
    background-color: @ukui_tooltip_bg_color;
    color: @ukui_tooltip_fg_color;
    text-shadow: none;
}

#Button label:disabled {
    color: @ukui_fg_color;
    text-shadow: none;
    box-shadow: none;
}
